.contact{
    width:100%;
    height:200px;
    background-color: #2d313c;
    font-family: Arial, Helvetica, sans-serif;
}
#left{
    width: 33.33%;
    height: 200px;
      float:left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#center{ width: 33.33%;
  height: 200px;
    float:left;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#right{ width: 28%;
    float:right;
    height: 200px;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;

}
#contact-logo{
    width: 15%;
    float: left;
    display:block;
}
.fas{
    font-size: 50px;
    padding: 20px;
}