<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title> 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="css01/navbar.css">
    <link rel="stylesheet" href="css01/up_and_down.css">
    <link rel="stylesheet" href="css01/up_and_down.css">
    <link rel="stylesheet" href="css01/header.css">
    <link rel="stylesheet" href="css01/about.css">
    <link rel="stylesheet" href="css01/main.css">

    <script src="https://kit.fontawesome.com/fb65f5d132.js" crossorigin="anonymous"></script>

    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">


    </script>
    
</head>
<body>
    <div id="header2"></div>

      <!-- ALL PAGE TITLE  -->
      <div class="all-page-title">
        <div class="row">
          <div class="col-lg-12">
            <h1>About Us</h1>
          </div>
        </div>
      </div>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->
      <!-- ABOUT : -->
      <br> <br>
      <div class="about-section">
        <div class="row">
          <div class="col-lg-6 col-md-6">
            <img src="images/about-img.jpg" alt="" class="img-fluid">
          </div>
          <div class="col-lg-6 col-md-6 text-center">
            <div class="inner-column">
              <h1>Welcome To <span>Food Villa Restaurant</span></h1>
              <h3>Little Story</h3>
              <p>Food Villa, the restaurant was established by our founding father Mr.K R Guprai in 1892 in Mumbai, India. He started by Opening his own dhaba which grew into a big 4 star restaurant whch is it now. </p>
              <p> Even though our restaurant provides the customer with a wide range of cusines and numerous delicacis to choose from, but we never forget our roots and begining. </p>
              <a class="btn btn-lg btn-circle btn-outline-new-white" href="#">RESERVATION</a>
            </div>
          </div>
          <div class="col-md-12">
            <div class="inner-pt">
              <p>We also serve the old menue items which our founding father used to served in the dabha with the same flavour profiles. Our restaurant has won many awards like the TripAdvisor Travelers’ Choice Awards, Editor’s Choice Award for Best Safety & Hygiene Protocols etc.</p>
              <p> Our chefs take high pride in every food that comes out the kitchen and garantees the user a great blast of flavours. We use fresh , local and imported ingrediets to prepare hig quality food and we have a great presence not only in Mumbai , but in the whole India. People from various parts of India come to have a meal at our restaurant.  </p>
              <p> As we are so high in demand that's why we have V.I.P table reservations, where a customer can book or reserve a table before hand for a paricular event via our website. We also provide food delivery services which a user can make via the website </p>
            </div>
          </div>
        </div>

         <!-- OWNERS OF THE WEBSITE AND RESTAURANT: -->
         <h1 id="owners" style="text-align: center;">O W N E R S</h1>
         <br>
         <div class="apan-ne-kiya">
          <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="images/About chef/rachit.JPG" alt="">
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                        </ul>
                        <div class="team-content">
                            <h3 class="title">Rachit Rai</h3>
                            <span class="post">Web Developer</span>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac eros lacus. Sed commodo fringilla pharetra. Proin sodales risus et nunc volutpat.
                        </p>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="our-team">
                        <div class="pic">
                            <img src="images/About chef/kshitij.JPG" alt="">
                        </div>
                        <ul class="social">
                            <li><a href="#" class="fab fa-facebook"></a></li>
                            <li><a href="#" class="fab fa-google-plus"></a></li>
                            <li><a href="#" class="fab fa-twitter"></a></li>
                        </ul>
                        <div class="team-content">
                            <h3 class="title">Kshitij Gupta</h3>
                            <span class="post">Web Developer</span>
                        </div>
                        <p class="description">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac eros lacus. Sed commodo fringilla pharetra. Proin sodales risus et nunc volutpat.
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
        <br>

        <!-- BOXES FOR CHEFS : -->
        <div class="boxes-for-chefs">
           <h1>C h e f s</h1>
           <br>
          <div class="chef-box">
            <div class="container">
              <div class="row">
                <div class="col-md-4 col-sm-6">
                  <div class="our-team">
                      <div class="pic">
                          <img src="images/About chef/chef1.jpg" alt="">
                      </div>
                      <ul class="social">
                          <li><a href="#" class="fab fa-facebook"></a></li>
                          <li><a href="#" class="fab fa-google-plus"></a></li>
                          <li><a href="#" class="fab fa-twitter"></a></li>
                      </ul>
                      <div class="team-content">
                          <h3 class="title">Gordon Ramsay</h3>
                          <span class="post">Head Chef</span>
                      </div>
                      <p class="description">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac eros lacus. Sed commodo fringilla pharetra. Proin sodales risus et nunc volutpat.
                      </p>
                  </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="images/About chef/chef3.jpg" alt="">
                    </div>
                    <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                    </ul>
                    <div class="team-content">
                        <h3 class="title">Helena Rizzo</h3>
                        <span class="post">Executive Chef</span>
                    </div>
                    <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac eros lacus. Sed commodo fringilla pharetra. Proin sodales risus et nunc volutpat.
                    </p>
                </div>
              </div>
              <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <div class="pic">
                        <img src="images/About chef/CHEF4.jpg" alt="">
                    </div>
                    <ul class="social">
                        <li><a href="#" class="fab fa-facebook"></a></li>
                        <li><a href="#" class="fab fa-google-plus"></a></li>
                        <li><a href="#" class="fab fa-twitter"></a></li>
                    </ul>
                    <div class="team-content">
                        <h3 class="title">Kunal Kapoor</h3>
                        <span class="post">Sous Chef</span>
                    </div>
                      <p class="description">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque ac eros lacus. Sed commodo fringilla pharetra. Proin sodales risus et nunc volutpat.
                      </p>
                    </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      <div id="footer"></div>
      <script>
         $.get("header.html", function (data) {
            $("#header2").replaceWith(data);
        });
        $.get("footer.html", function (data) {
            $("#footer").replaceWith(data);
        });
      </script>
</body>
</html>