<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

  <link rel="stylesheet" href="css01/navbar.css">
  <link rel="stylesheet" href="css01/up_and_down.css">

  <link rel="stylesheet" href="css01/header.css">
  <link rel="stylesheet" href="css01/about.css">
  <link rel="stylesheet" href="css01/banner.css">
  <link rel="stylesheet" href="css01/cart.css">

  <script src="https://kit.fontawesome.com/fb65f5d132.js" crossorigin="anonymous"></script>

  <title>FOOD VILLA</title>
</head>

<body>

  <div class="container1">
    <div class="header1">

      <div class="head1">FOOD VILLA</div>
    </div>
  </div>
  <div class="navigation">
    <input type="checkbox" id="chk">
    <label for="chk" class="show-button">
      <i class="fas fa-bars"></i>
    </label>
    <div class="logo1">
      <img src="images/food-villa-2.jpg" alt=""></div>
    <ul class="navbar1">
      <li><a href="#home"><i id="show-text" title="HOME" class="fas fa-home"></i><span class="show-icon">HOME</span></a>
      </li>
      <li><a href="menu.html"><i id="show-text" title="MENU" class="fas fa-concierge-bell"></i><span
            class="show-icon">MENU</span></a>
        <ul class="submenu">
          <li><a href="#starter"><i title="STARTER" class="fas fa-pizza-slice"></i>STARTER</a></li>
          <li><a href="#drinks"><i title="DRINKS" class="fas fa-glass-martini"></i>DRINKS</a></li>
          <li><a href="#main-course"><i title="MAIN-COURSE" class="fas fa-utensils"></i>MAIN-COURSE</a></li>
          <li><a href="#desert"><i title="DESERT" class="fas fa-cookie-bite"></i>DESERT</a></li>
        </ul>
      </li>
      <li><a href="gallery.html"><i id="show-text" title="GALLERY" class="fas fa-camera"></i><span
            class="show-icon">GALLERY</span></a></li>
      <li><a href="About.html"><i id="show-text" title="ABOUT" class="fas fa-info-circle"></i><span
            class="show-icon"></i>ABOUT</span></a></li>
      <li><a href="#contact"><i id="show-text" title="CONTACT" class="fas fa-address-book"></i><span
            class="show-icon">CONTACT</span></a></li>
      <li><a href="welcome"><i id="show-text" title="LOGIN" class="fas fa-user"></i></i><span
            class="show-icon">LOGIN</span></a></li>
      <li><a href="reservation.html"><i id="show-text" class="fas fa-book"></i><span
            class="show-icon">RESERVATION</span></a></li>

      <input type="checkbox" id="chk">
      <label for="chk" class="hide-button">
        <i class="fas fa-times"></i>
      </label>
    </ul>
  </div>
  <br>
  <div class="all-page-title">
    <div class="row">
      <div class="col-lg-12">
        <h1>SPECIAL MENUE</h1>
      </div>
    </div>
  </div>
  <br>

  <!-- menu -->

  <h1 class="subMenuName">STARTER <i title="STARTER" class="fas fa-pizza-slice"
      style="padding-left: 10px;padding-top: 5px"></i> <a href="#goToCart"><i class="fas fa-shopping-cart"
        style="position: absolute;right: 20px;font-size: 40px;color: black;bottom: 15px;"></i></a></h1>
  <hr>

  <div class="subMenu">

    <div class="dish" id="paneerTikka">

      <div class="dishImage" id="" style="background-image: url(./images/menu/starters/paneerTikka.jpg);"> </div>

      <div class="vegNonveg" id="VegNonveg"><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png"
          alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">PANEER TIKKA</h2>

        <P>It will come with 4 pieces of paneer and 5 pieces of each vegetable.<br><b>Price: </b><b>100</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="paneerTikka" name="100">-</button>

          <div id="paneerTikkaCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="paneerTikka" name="100">+</button>

        </div>

        <button class="addToCart" value="paneerTikka" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="paneerTikkaAmount">

        Amount: Rs 0

      </div>

    </div>




    <div class="dish" id="sweetPotatoTikki">

      <div class="dishImage" id="" style="background-image: url(./images/menu/starters/sweetPotatoTikki.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">SWEET POTATO TIKKI</h2>

        <P>It will come with 5 pieces of perfectly cooked sweet potato tikki. <br><b>Price: </b><b>100</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="sweetPotatoTikki" name="100">-</button>

          <div id="sweetPotatoTikkiCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="sweetPotatoTikki" name="100">+</button>

        </div>

        <button class="addToCart" value="sweetPotatoTikki" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="sweetPotatoTikkiAmount">

        Amount: Rs 0

      </div>

    </div>



    <div class="dish" id="momo">

      <div class="dishImage" id="" style="background-image: url(./images/menu/starters/momos.jpg);"> </div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">MOMOS</h2>

        <P>It will come with 6 pieces of steamed momos and red hot chutney.<br><b>Price: </b><b>60</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="momo" name="60">-</button>

          <div id="momoCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="momo" name="60">+</button>

        </div>

        <button class="addToCart" value="momo" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="momoAmount">

        Amount: Rs 0

      </div>

    </div>



    <div class="dish" id="springRoll">

      <div class="dishImage" id="" style="background-image: url(./images/menu/starters/springRoll.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">SPRING ROLL</h2>

        <P>It will come with 12 pieces of crispy veg spring rolls. <br><b>Price: </b><b>70</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="springRoll" name="70">-</button>

          <div id="springRollCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="springRoll" name="70">+</button>

        </div>

        <button class="addToCart" value="springRoll" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="springRollAmount">

        Amount: Rs 0

      </div>

    </div>



    <div class="dish" id="tomatoSoup">

      <div class="dishImage" id="" style="background-image: url(./images/menu/starters/tomatoSoup.jpg);"> </div>

      <div class="vegNonveg" id="V"><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">TOMATO SOUP</h2>

        <P>Creamy soup made with fresh tomates<br>Qty:400ml<br><b>Price: </b><b>120</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="tomatoSoup" name="120">-</button>

          <div id="tomatoSoupCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="tomatoSoup" name="120">+</button>

        </div>

        <button class="addToCart" value="tomatoSoup" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="tomatoSoupAmount">

        Amount: Rs 0

      </div>

    </div>

    <div class="dish" id="vegSoup">

      <div class="dishImage" id="" style="background-image: url(/images/menu/starters/vegetableSoup.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">VEGETABLE SOUP</h2>

        <P>Creamy soup made with fresh vegetables.<br>Qty:400ml <br><b>Price: </b><b>120</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="vegetableSoup" name="120">-</button>

          <div id="vegetableSoupCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="vegetableSoup" name="120">+</button>

        </div>

        <button class="addToCart" value="vegetableSoup" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="vegetableSoupAmount">

        Amount: Rs 0

      </div>

    </div>

  </div>



  <!--drinks-->

  <h1 class="subMenuName">DRINKS<i title="DRINKS" class="fas fa-glass-martini"
      style="padding-left: 10px;padding-top: 5px"></i> <a href="#goToCart"><i class="fas fa-shopping-cart"
        style="position: absolute;right: 20px;font-size: 40px;color: black;bottom: 15px;"></i></a></h1>

  <hr>

  <div class="subMenu">

    <div class="dish" id="cappuccino">

      <div class="dishImage" id="" style="background-image: url(/images/menu/drinks/cappuccino.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">CAPPUCCINO</h2>

        <P>A coffee drink consisting of espresso and a milk foam mixture.<br>Qty:240ml <br><b>Price: </b><b>120</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="cappuccino" name="120">-</button>

          <div id="cappuccinoCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="cappuccino" name="120">+</button>

        </div>

        <button class="addToCart" value="cappuccino" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="cappuccinoAmount">

        Amount: Rs 0

      </div>

    </div>

    <div class="dish" id="freakShake">

      <div class="dishImage" id="" style="background-image: url(/images/menu/drinks/freakShake.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">FREAK SHAKE</h2>

        <P>Coffee Freakshakes are often made with cold brew coffee.<br>Qty:400ml <br><b>Price: </b><b>150</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="freakShake" name="150">-</button>

          <div id="freakShakeCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="freakShake" name="150">+</button>

        </div>

        <button class="addToCart" value="freakShake" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="freakShakeAmount">

        Amount: Rs 0

      </div>

    </div>

    <div class="dish" id="espresso">

      <div class="dishImage" id="" style="background-image: url(/images/menu/drinks/espresso.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">ESPRESSO</h2>

        <P>A short, strong drink.<br>Qty:40ml <br><b>Price: </b><b>40</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="fespresso" name="40">-</button>

          <div id="espressoCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="espresso" name="40">+</button>

        </div>

        <button class="addToCart" value="espresso" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="espressoAmount">

        Amount: Rs 0

      </div>

    </div>

    <div class="dish" id="icedLatte">

      <div class="dishImage" id="" style="background-image: url(/images/menu/drinks/icelatte.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">ICED LATTE</h2>

        <P>Coffee Freakshakes are often made with cold brew coffee.<br>Qty:400ml <br><b>Price: </b><b>150</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="icedLatte" name="150">-</button>

          <div id="icedLatteCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="icedLatte" name="150">+</button>

        </div>

        <button class="addToCart" value="icedLatte" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="icedLatteAmount">

        Amount: Rs 0

      </div>

    </div>

    <div class="dish" id="chai">

      <div class="dishImage" id="" style="background-image: url(/images/menu/drinks/chai.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">CHAI</h2>

        <P>1 cup is never enough.<br>Qty:200ml <br><b>Price: </b><b>40</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="chai" name="40">-</button>

          <div id="chaiCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="chai" name="40">+</button>

        </div>

        <button class="addToCart" value="chai" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="chaiAmount">

        Amount: Rs 0

      </div>

    </div>

    <div class="dish" id="bisleri">

      <div class="dishImage" id="" style="background-image: url(/images/menu/drinks/bisleri.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">ICED LATTE</h2>

        <P>Water bottle.<br>Qty:500ml <br><b>Price: </b><b>20</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="bisleri" name="20">-</button>

          <div id="bisleriCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="bisleri" name="20">+</button>

        </div>

        <button class="addToCart" value="bisleri" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="bisleriAmount">

        Amount: Rs 0

      </div>

    </div>

  </div>





  <!--MAIN-COURSE-->

  <h1 class="subMenuName">MAIN-COURSE<i title="MAIN-COURSE" class="fas fa-utensils"
      style="padding-left: 10px;padding-top: 5px"></i> <a href="#goToCart"><i class="fas fa-shopping-cart"
        style="position: absolute;right: 20px;font-size: 40px;color: black;bottom: 15px;"></i></a></h1>

  <hr>

  <div class="subMenu">

    <div class="dish" id="burger">

      <div class="dishImage" id="" style="background-image: url(/images/menu/main-course/burger.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">BURGER</h2>

        <P>Best burger in town that i can promise.Comes with fries. <br><b>Price: </b><b>120</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="burger" name="120">-</button>

          <div id="burgerCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="burger" name="120">+</button>

        </div>

        <button class="addToCart" value="burger" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="burgerAmount">

        Amount: Rs 0

      </div>

    </div>




    <div class="dish" id="pizza">

      <div class="dishImage" id="" style="background-image: url(/images/menu/main-course/pizza.jfif);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">PIZZA</h2>

        <P>All veggie 9 inch pizza with cheese burst base. <br><b>Price: </b><b>200</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="pizza" name="200">-</button>

          <div id="pizzaCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="pizza" name="200">+</button>

        </div>

        <button class="addToCart" value="pizza" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="pizzaAmount">

        Amount: Rs 0

      </div>

    </div>


    <div class="dish" id="kadaiPaneer">

      <div class="dishImage" id="" style="background-image: url(/images/menu/main-course/kadaiPaneer.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">KADAI PANEER</h2>

        <P>Grilled paneer inroasted vegetables gravy. <br><b>Price: </b><b>240</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="kadaiPaneer" name="240">-</button>

          <div id="kadaiPaneerCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="kadaiPaneer" name="240">+</button>

        </div>

        <button class="addToCart" value="kadaiPaneer" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="kadaiPaneerAmount">

        Amount: Rs 0

      </div>

    </div>


    <div class="dish" id="butterMasala">

      <div class="dishImage" id="" style="background-image: url(/images/menu/main-course/butterMasala.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">PANEER BUTTER MASALA</h2>

        <P>All cooked in butter ,so delicious. <br><b>Price: </b><b>220</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="butterMasala" name="220">-</button>

          <div id="butterMasalaCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="butterMasala" name="220">+</button>

        </div>

        <button class="addToCart" value="butterMasala" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="butterMasalaAmount">

        Amount: Rs 0

      </div>

    </div>


    <div class="dish" id="mixVeg">

      <div class="dishImage" id="" style="background-image: url(/images/menu/main-course/mixVeg.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">MIX VEG</h2>

        <P>Fresh veggetables from farm are cooked precisely. <br><b>Price: </b><b>120</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="mixVeg" name="120">-</button>

          <div id="mixVegCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="mixVeg" name="120">+</button>

        </div>

        <button class="addToCart" value="mixVeg" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="mixVegAmount">

        Amount: Rs 0

      </div>

    </div>


    <div class="dish" id="naan">

      <div class="dishImage" id="" style="background-image: url(/images/menu/main-course/naan.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">NAAN</h2>

        <P>Cooked so well. <br><b>Price: </b><b>8</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="naan" name="8">-</button>

          <div id="naanCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="naan" name="8">+</button>

        </div>

        <button class="addToCart" value="naan" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="naanAmount">

        Amount: Rs 0

      </div>

    </div>


    <div class="dish" id="butterNaan">

      <div class="dishImage" id="" style="background-image: url(/images/menu/main-course/butterNaan.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">BUTTER NAAN</h2>

        <P>4 pieces of a naan <br><b>Price: </b><b>20</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="butterNaan" name="20">-</button>

          <div id="butterNaanCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="butterNaan" name="20">+</button>

        </div>

        <button class="addToCart" value="butterNaan" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="butterNaanAmount">

        Amount: Rs 0

      </div>

    </div>


    <div class="dish" id="vegBiriyani">

      <div class="dishImage" id="" style="background-image: url(/images/menu/main-course/VegBiriyani.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">VEG BIRIYANI</h2>

        <P>Biriyani with vegetables lol. <br><b>Price: </b><b>80</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="vegBiriyani" name="80">-</button>

          <div id="vegBiriyaniCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="vegBiriyani" name="80">+</button>

        </div>

        <button class="addToCart" value="vegBiriyani" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="vegBiriyaniAmount">

        Amount: Rs 0

      </div>

    </div>



    <div class="dish" id="dosa">

      <div class="dishImage" id="" style="background-image: url(/images/menu/main-course/dosa.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">DOSA</h2>

        <P>Dosa with a surprise. <br><b>Price: </b><b>150</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="dosa" name="150">-</button>

          <div id="dosaCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="dosa" name="150">+</button>

        </div>

        <button class="addToCart" value="dosa" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="dosaAmount">

        Amount: Rs 0

      </div>

    </div>



  </div>

  <!--DESERT-->

  <h1 class="subMenuName">DESERT<i title="DESERT" class="fas fa-cookie-bite"
      style="padding-left: 10px;padding-top: 5px"></i> <a href="#goToCart"><i class="fas fa-shopping-cart"
        style="position: absolute;right: 20px;font-size: 40px;color: black;bottom: 15px;"></i></a></h1>

  <hr>

  <div class="subMenu">


    <div class="dish" id="blackForest">

      <div class="dishImage" id="" style="background-image: url(/images/menu/deserts/blackForestCake.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">BLACK fOREST CAKE</h2>

        <P>A treat for your mouth.<br><b>Price: </b><b>80</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="blackForest" name="80">-</button>

          <div id="blackForestCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="blackForest" name="80">+</button>

        </div>

        <button class="addToCart" value="blackForest" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="blackForestAmount">

        Amount: Rs 0

      </div>

    </div>


    <div class="dish" id="pineappleCake">

      <div class="dishImage" id="" style="background-image: url(/images/menu/deserts/pineapplePastry.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">PINEAPPLE CAKE</h2>

        <P>Filled with richness of pineapple.<br><b>Price: </b><b>60</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="pineappleCake" name="60">-</button>

          <div id="pineappleCakeCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="pineappleCake" name="60">+</button>

        </div>

        <button class="addToCart" value="pineappleCake" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="pineappleCakeAmount">

        Amount: Rs 0

      </div>

    </div>


    <div class="dish" id="chocoLavaCake">

      <div class="dishImage" id="" style="background-image: url(/images/menu/deserts/chocoLava.jpg);"></div>

      <div class="vegNonveg" id=""><img src="/images/dice-square-with-a-dot-or-button-with-a-circle-inside.png" alt="">

      </div>

      <div class="dishDescription" id="">

        <h2 style="margin: 0px;">CHOCO LAVA CAKE</h2>

        <P>Atreat for your tongue.<br><b>Price: </b><b>100</b> </P>

      </div>

      <div class="addToCartDiv">

        <div class="counter">

          <button id="dec" onclick="dec(event)" value="chocoLavaCake" name="100">-</button>

          <div id="chocoLavaCakeCounterValue" class="counterValue">0</div>

          <button id="inc" onclick="inc(event)" value="chocoLavaCake" name="100">+</button>

        </div>

        <button class="addToCart" value="chocoLavaCake" onclick="addToCart(event)">Add to cart</button>

      </div>

      <div class="amount" id="chocoLavaCakeAmount">

        Amount: Rs 0

      </div>

    </div>



  </div>




  <!-- cart -->

  <h1 class="subMenuName" id="goToCart">CART<i class="fas fa-shopping-cart"
      style="padding-left: 10px;padding-top: 5px"></i></h1>

  <hr>

  <p id="emptyCart" style="margin: 0px auto;text-align: center; padding-top: 45px;"><b style="font-size: 50px;"> The
      Cart is Empty. GO SHOP!!!!</b></p>


  <div class="subMenu" id="cart1">

    <br><br>

  </div>

  <p class="totalAmount" id="totalAmount"></p>

  <button id="checkOut" onclick="checkOut()">Checkout</button>






  <!-- FOOTER SECTION:  -->
  <footer>
    <div class="upper" id="contact">
      <div class="row" style="margin-right: 0px;">
        <div class="col-md-4">
          <i class="fa fa-volume-control-phone"></i>
          <div class="overflow-hidden">
            <h4>Phone</h4>
            <p class="lead">
              +01 123-456-4590
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <i class="fa fa-envelope"></i>
          <div class="overflow-hidden">
            <h4>Email</h4>
            <p class="lead">
              yourmail@gmail.com
            </p>
          </div>
        </div>
        <div class="col-md-4">
          <i class="fa fa-map-marker"></i>
          <div class="overflow-hidden">
            <h4>Location</h4>
            <p class="lead">
              800, Lorem Street, US
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="lower">
      <div class="row">
        <div class="col-lg-3 col-md-6">
          <h3>About Us</h3>
          <p>Integer cursus scelerisque ipsum id efficitur. Donec a dui fringilla, gravida lorem ac, semper magna.
            Aenean rhoncus ac lectus a interdum. Vivamus semper posuere dui, at ornare turpis ultrices sit amet. Nulla
            cursus lorem ut nisi porta, ac eleifend arcu ultrices.</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h3>Opening hours</h3>
          <p><span class="text-color">Mon-Tue : </span>9:00 AM - 11:00 PM</p>
          <p><span class="text-color">Wed-Thu :</span> 9:00 AM - 11:00 PM</p>
          <p><span class="text-color">Fri-Sat :</span> 9:00 AM - 11:00 PM</p>
          <p><span class="text-color"> Sunday :</span> 11:00 AM - 11:00 PM</p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h3>Contact information</h3>
          <p class="lead">Ipsum Street, Lorem Tower, MO, Columbia, 508000</p>
          <p class="lead"><a href="#">+91 000000000</a></p>
          <p><a href="#"> foodvilla@gmail.com</a></p>
        </div>
        <div class="col-lg-3 col-md-6">
          <h3>Subscribe</h3>
          <div class="subscribe_form">
            <form class="subscribe_form">
              <input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
              <button type="submit" class="submit" style="background-color: #d0a772;
              color: #fff;
              font-size: 16px;
              font-weight: 600;
              line-height: 50px;
              display: inline-block;
              padding: 0 10px;
              margin: 0px;
              /* float: left; */
              width: 300px;
              height:70px;
              border: none;
              width: 100%;
              cursor: pointer;
              transition: all 0.5s ease-in-out;
          ">SUBSCRIBE</button>
              <div class="clearfix"></div>
            </form>
          </div>
          <ul class="list-inline f-social">
            <li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
            <li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
          </ul>
        </div>
      </div>

      <div class="copyright">
        <div class="row">
          <div class="col-lg-12">
            <p class="company-name">All Rights Reserved. &copy; 2020 <a href="#">Food Villa Restaurant</a> <br>
              Design By : Kshitij Gupta and Rachit Rai
              <br>
              <a href="https://github.com/rachitrai99/Online-Restaurant">Github</a>
            </p>
          </div>
        </div>

      </div>
    </div>
  </footer>

  <script>

    //counter



    var arrayOfCounter = [];


    function dec(e) {

      var itemId = e.target.value;

      var j = 0;

      for (var i = 0; i < arrayOfCounter.length; i++) {


        if (arrayOfCounter[i][0] == itemId) {

          j = 1;

          break;

        }

      }

      if (j == 1) {

        var counter = parseInt(document.getElementById(itemId + "CounterValue").innerHTML);

        counter = counter - 1;

        var amount = (counter * parseInt(e.target.name));






        if (counter == 0) {


          arrayOfCounter.splice(i, 1);





        } else {

          arrayOfCounter[i] = [itemId, counter, amount];

          console.table(arrayOfCounter);


        }
        document.getElementById(itemId + "CounterValue").innerHTML = counter;

        document.getElementById(itemId + "Amount").innerHTML = "Amount: Rs " + (counter * parseInt(e.target.name));

        if (hold.length != 0) {

          document.getElementById(itemId + "CounterValueCart").innerHTML = counter;

          document.getElementById(itemId + "AmountCart").innerHTML = "Amount: Rs " + (counter * parseInt(e.target.name));

          var totalAmount = 0;

          for (i = 0; i < arrayOfCounter.length; i++) {

            totalAmount = totalAmount + parseInt(arrayOfCounter[i][2]);

          }

          document.getElementById("totalAmount").innerHTML = "Total Amount: " + totalAmount;



        }

      }
    }
    function inc(e) {

      e.preventDefault();

      var itemId = e.target.value;

      let j = 0;

      for (var i = 0; i < arrayOfCounter.length; i++) {


        if (arrayOfCounter[i][0] == itemId) {

          j = 1;

          break;

        }

      }

      counterName = itemId + "CounterValue";

      var counter = parseInt(document.getElementById(itemId + "CounterValue").innerHTML);

      counter = counter + 1;

      if (counter < 10) {

        var amount = (counter * parseInt(e.target.name));



        arrayOfCounter[i] = [itemId, counter, amount];

        console.table(arrayOfCounter);

        //console.table(arrayOfCounter);

        document.getElementById(itemId + "CounterValue").innerHTML = arrayOfCounter[i][1];

        document.getElementById(itemId + "Amount").innerHTML = "Amount: Rs " + (counter * parseInt(e.target.name));

        if (hold.length != 0) {

          document.getElementById(itemId + "CounterValueCart").innerHTML = arrayOfCounter[i][1];

          document.getElementById(itemId + "AmountCart").innerHTML = "Amount: Rs " + (counter * parseInt(e.target.name));

          var totalAmount = 0;

          for (i = 0; i < arrayOfCounter.length; i++) {

            totalAmount = totalAmount + parseInt(arrayOfCounter[i][2]);

          }

          document.getElementById("totalAmount").innerHTML = "Total Amount: " + totalAmount;

        }


      } else {

        alert("Maximum limit for an item is 9. If you still nedd more ,call the restaurant.Thank you.")
      }


    }

    //addToCart
    var hold = [];

    function addToCart(e) {



      var itemId = e.target.value;

      var itemIdCart = e.target.value + "Cart";

      let counter = parseInt(document.getElementById(e.target.value + "CounterValue").innerHTML);

      if ((hold.length == 0) && (counter != 0)) {

        let el = document.getElementById("emptyCart");


        el.innerHTML = "";

        document.getElementById("checkOut").style.display = "flex";

        var totalAmount = 0;

        for (i = 0; i < arrayOfCounter.length; i++) {

          totalAmount = totalAmount + (arrayOfCounter[i][2]);

        }

        document.getElementById("totalAmount").innerHTML = "Total Amount: " + totalAmount;



      }
      if (counter == 0) {


        for (var i = 0; i < hold.length; i++) {

          if (hold[i] == itemIdCart) {

            break;

          }

        }

        if (i == hold.length) {

        }

        else {


          var el = document.getElementById(itemIdCart);


          el.remove();

          hold.splice(i, 1);

          if (hold.length == 0) {

            let el = document.getElementById("emptyCart");


            el.innerHTML = '<b style="font-size: 50px;"> The Cart is Empty. GO SHOP!!!!</b>';

            document.getElementById("checkOut").style.display = "none";

            document.getElementById("totalAmount").innerHTML = "";


          }

        }

      } else {

        var addToCart = e.target.parentNode.parentNode;

        let j = 0;

        for (let i = 0; i < hold.length; i++) {

          if (hold[i] == itemIdCart) {

            j = 1;

            break;
          }


        }

        var totalAmount = 0;

        for (i = 0; i < arrayOfCounter.length; i++) {

          totalAmount = totalAmount + parseInt(arrayOfCounter[i][2]);

        }

        document.getElementById("totalAmount").innerHTML = "Total Amount: " + totalAmount;

        var item = addToCart.cloneNode(true);



        item.id = itemIdCart;

        item.childNodes[7].childNodes[1].childNodes[3].id = e.target.value + "CounterValueCart";

        item.childNodes[9].id = e.target.value + "AmountCart";

        var drop = item.childNodes[7].childNodes[3];

        drop.remove();

        var iDiv = document.createElement('button');

        iDiv.className = 'addToCart';

        iDiv.id = e.target.value + "AddToCart";

        iDiv.innerHTML = "Delete";

        iDiv.value = itemIdCart;

        iDiv.addEventListener("click", function (e) {

          var el = document.getElementById(itemIdCart);

          el.remove();

          document.getElementById(itemId + "CounterValue").innerHTML = 0;

          document.getElementById(itemId + "Amount").innerHTML = "Amount: Rs 0";

          //console.log(hold);



          for (i = 0; i < arrayOfCounter.length; i++) {


            if (arrayOfCounter[i][0] == itemId) {

              arrayOfCounter.splice(i, 1);

              break;

            }
          }

          var totalAmount = 0;

          for (i = 0; i < arrayOfCounter.length; i++) {

            totalAmount = totalAmount + parseInt(arrayOfCounter[i][2]);

          }

          document.getElementById("totalAmount").innerHTML = "Total Amount: " + totalAmount;

          for (i = 0; i < hold.length; i++) {

            if (hold[i] == e.target.value) {


              hold.splice(i, 1);

              if (hold.length == 0) {

                let check = document.getElementById("emptyCart");


                check.innerHTML = '<b style="font-size: 50px;"> The Cart is Empty. GO SHOP!!!!</b>';

                document.getElementById("checkOut").style.display = "none";

                document.getElementById("totalAmount").innerHTML = "";

              }

              break;

            }

          }

          //console.table(arrayOfCounter);

          //console.log(hold);


        });

        item.childNodes[7].appendChild(iDiv);




        if (j == 1) {

          document.getElementById(itemIdCart).replaceWith(item);

        } else {

          hold.push(itemIdCart);

        }

        document.getElementById("cart1").appendChild(item);


      }

    }

    function checkOut() {

      //sessionStorage.setItem('myArray', arrayOfCounter);

      var totalAmount = 0;

      for (i = 0; i < arrayOfCounter.length; i++) {

        totalAmount = totalAmount + parseInt(arrayOfCounter[i][2]);

      }

      if (totalAmount == 0) {

        alert("Please add some item. Thank you!");

      


      } else {

        window.sessionStorage.setItem("items", JSON.stringify(arrayOfCounter));


        window.location.href = "dashboard";

      }


    }




  </script>
</body>

</html>