<div class="container1">
    <div class="header1">
     
      <div class="head1">FOOD VILLA</div>
    </div>
</div>

<div class="navigation">
    <input type="checkbox" id="chk">
      <label for="chk" class="show-button" >
      <i class="fas fa-bars"></i>
      </label>
      <div class="logo1">
          <img src="images/food-villa-2.jpg" alt="">
      </div>
  <br>
<div >

<!-- <p class="lead mb-3">Welcome <%= user.name %></p> -->
<h2 class="col-md-6" style="padding-left: 10px;">Welcome <%= user.name %></h2>
<br> <br> <br>

<a href="cart.html" class="btn btn-outline-secondary btn-lg">Logout</a>

