<div class="container1">
    <div class="header1">
     
      <div class="head1">FOOD VILLA</div>
    </div>
</div>

<div class="navigation">
    <input type="checkbox" id="chk">
      <label for="chk" class="show-button" >
      <i class="fas fa-bars"></i>
      </label>
      <div class="logo1">
          <img src="images/food-villa-2.jpg" alt="">
      </div>
  <br>
<div >

  <div class="checkBox">
    <div id="tableBox"></div>
</div>

<!-- <p class="lead mb-3">Welcome <%= user.name %></p> -->
<h2 class="col-md-6" style="padding-left: 10px;">Welcome <%= user.name %></h2>
<br> <br> <br>

<a href="cart.html" class="btn btn-outline-secondary btn-lg">Logout</a>

<script>

var rows =JSON.parse(sessionStorage.getItem("items"));
console.log(rows);

var html = "<p>";
for (var i = 0; i < rows.length; i++) {
    html+="<p>";
    html+="  "+rows[i][0]+"  ";
    html+="  "+rows[i][1]+"  ";
    html+="  "+rows[i][2]+"  ";
    
    html+="</p>";

}
html+="</p>";

console.log(html);
document.getElementById("tableBox").innerHTML = html;
</script>
