<script src="https://smtpjs.com/v3/smtp.js"></script>

<div class="container1">
    <div class="header1">

        <div class="head1">FOOD VILLA</div>
    </div>
</div>

<div class="navigation">
    <input type="checkbox" id="chk">
    <label for="chk" class="show-button">
        <i class="fas fa-bars"></i>
    </label>
    <div class="logo1">
        <img src="images/food-villa-2.jpg" alt="">
    </div>
    <br>
</div>



<!-- <p class="lead mb-3">Welcome <%= user.name %></p> -->
<h2 class="col-md-6" style="padding-left: 10px;">Welcome <span id="name"> <%= user.name %></span></h2>
<br> <br> <br>

<a href="cart.html" class="btn btn-outline-secondary btn-lg">Logout</a>

<div class="checkBox">
    <div class="tableBox" id="tableBox"><p > <h2>List of items ordered</h2></p><hr style="
        width: 100%;
        position: static;
        top: 0px;
    border-width: 3px;
    border-color: black;
    margin: 0px;"></div>
    <hr style="width: 100%;
    position: static;
    top: 0px;
border-width: 3px;
border-color: black;
margin: 0px;">
    <p style='font-size: 30px;    font-family: "News Cycle","Arial Narrow Bold",sans-serif;'><b>Total Amount:-</b> Rs<span id="amt"></span></p>
</div>
<div class="checkBox">
<form action="" id="placeOrderForm" >

<label for="contact">1.Enter your number :-</label>
<input type="text" id="contact" name="contact" value="" pattern="[0-9]*10" placeholder="e.g.8923213717">

<label for="address">2.Enter your address :-</label>
<input type="text" id="address" name="address" value=""  placeholder="e.g.Thakur dwara senthal (bareilly)">

<label for="instruction">3.Instructions :- </label>
<textarea id="instruction" name="instruction" value=""  placeholder="Any additional Instructions for chef or delievery boy."></textarea>

<button id="placeOrder"  style="width: 200px;height: 50px;padding-left: 0px; margin-left: 0px;">Place Order</button>

</form></div>
<br>
<br>
<h1 id="confirm" style="display: none;">Your order has been successfully placed.We will deliver it soon.</h1>
<script>

    var rows = JSON.parse(sessionStorage.getItem("items"));
    console.log(rows);

    if (rows == null) {

        window.location.href = "cart.html";


    } else {

        console.log(rows);

        var html = '<ul style = "list-style-type :none;">' ;
        for (var i = 0; i < rows.length; i++) {
            html += '<li style = "list-style-type :none;word-spacing:25px; font-size:25px">' + (i+1) +".";
            html += "  " + rows[i][0] + "  ";
            html += "  " + rows[i][1] + "  ";
            html += "  " + rows[i][2] + "  ";

            html += "</li>";

        }
        html += "</ul>";

        sessionStorage.clear();

        document.getElementById("tableBox").innerHTML = document.getElementById("tableBox").innerHTML + html;

        var total = 0

        for(i=0;i<rows.length;i++) {

            total = total + parseInt(rows[i][2]);


        }

        console.log(total);

        document.getElementById("amt").innerHTML = total;

        function placeOrder() {



        }


    }

     document.getElementById("placeOrder").onclick =  function placeOrder(e) {

        e.preventDefault();
        console.log("hello");

        var contact = document.getElementById("contact").value;
        var address = document.getElementById("address").value;

        var inst = document.getElementById("instruction").value;

        if (contact == "" && address == "") {

            alert("Please insert all the feilds.")

        } else {
            
            
            document.getElementById("placeOrder").style.display = "none";

            document.getElementById("confirm").style.display = "block";
            Email.send({
                Host: "smtp.gmail.com",
                Username: "uzumki002@gmail.com",
                Password: "jaypee01",
                To: "kshitij.gupta_cs18@gla.ac.in",
                From: "uzumki002@gmail.com",
                Subject: "Name  = "+  document.getElementById("name"),
                Body:
                    html + "     "+ "instructions = " + inst + " Contact = " + contact + "   Address = " + address + "    "
            }).then((message) => alert(message));


        }



    }

</script>