<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script
      src="https://kit.fontawesome.com/fb65f5d132.js"
      crossorigin="anonymous"
    ></script>
    
    <link rel="stylesheet" href="css/section.css" />
    <link rel="stylesheet" href="css01/gallery.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="css01/navbar.css">
    <link rel="stylesheet" href="css01/up_and_down.css">
    <link rel="stylesheet" href="css01/up_and_down.css">
    <link rel="stylesheet" href="css01/header.css">
    <script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">


    </script>

    <title>Gallery</title>
    
  </head>
  <body>
   <div id="header2"></div>
<!-- ----------------------------------------------------------------------------------------------------------------------------------------- -->

      <div  id="gallery">
        <!-- GALLERY -->
      </div>
      <div class="gallery">
        <a href="images/images_for_gallery/logo.jpeg"><img src="images/images_for_gallery/logo.jpeg" alt="log0" /></a>
        <a href="images/images_for_gallery/1.jpeg"><img src="images/images_for_gallery/1.jpeg" alt="1" /></a>
        <a href="images/images_for_gallery/2.jpeg"><img src="images/images_for_gallery/2.jpeg" alt="2" /></a>
        <a href="images/images_for_gallery/3.jpeg"><img src="images/images_for_gallery/3.jpeg" alt="3" /></a>
        <a href="images/images_for_gallery/4.jpeg"><img src="images/images_for_gallery/4.jpeg" alt="4" /></a>
        <a href="images/images_for_gallery/5.jpeg"><img src="images/images_for_gallery/5.jpeg" alt="5" /></a>
        <a href="images/images_for_gallery/6.jpeg"><img src="images/images_for_gallery/6.jpeg" alt="6" /></a>
        <a href="images/images_for_gallery/7.jpeg"><img src="images/images_for_gallery/7.jpeg" alt="7" /></a>
        <a href="images/images_for_gallery/8.jpeg"><img src="images/images_for_gallery/8.jpeg" alt="8" /></a>
      </div>

     <div id="footer"></div>

     <script>
      $.get("header.html", function (data) {
        $("#header2").replaceWith(data);
      });
      $.get("footer.html", function (data) {
        $("#footer").replaceWith(data);
      });
    </script>
  </body>
</html>
