<div class="container1">

    <div class="header1">

        <div class="head1"> <h1>Food Villa</h1></div>

    </div>

</div>

<div class="navigation1">

    <input type="checkbox" id="chk">

    <label for="chk" class="show-button">

        <i class="fas fa-bars"></i>

    </label>

    <div class="logo1">

        <img src="../images/food-villa-2.jpg" alt=""></div>

    <ul class="navbar1">

        <li><a href="index.html"><i id="show-text" title="HOME" class="fas fa-home"></i><span
                    class="show-icon">HOME</span></a>

        </li>

        <li><a href="cart.html"><i id="show-text" title="shop" class="fas fa-shopping-bag"></i><span
                    class="show-icon">MENU</span></a>

            <ul class="submenu">

                <li><a href="cart.html#starter"><i title="STARTER" class="fas fa-pizza-slice"></i>STARTER</a>
                </li>

                <li><a href="cart.html#drinks"><i title="DRINKS" class="fas fa-glass-martini"></i>DRINKS</a>
                </li>

                <li><a href="cart.html#main-course"><i title="MAIN-COURSE" class="fas fa-utensils"></i>MAIN-COURSE</a>
                </li>

                <li><a href="cart.html#desert"><i title="DESERT" class="fas fa-cookie-bite"></i>DESERT</a></li>

            </ul>

        </li>

        <li><a href="gallery.html"><i id="show-text" title="GALLERY" class="fas fa-camera"></i><span
                    class="show-icon">GALLERY</span></a></li>

        <li><a href="About.html"><i id="show-text" title="ABOUT" class="fas fa-info-circle"></i><span
                    class="show-icon"></i>ABOUT</span></a></li>

        <li><a href="#contact"><i id="show-text" title="CONTACT" class="fas fa-address-book"></i><span
                    class="show-icon">CONTACT</span></a></li>

        <li><a href="welcome"><i id="show-text" title="LOGIN" class="fas fa-user"></i></i><span
                    class="show-icon">LOGIN</span></a></li>

        <li><a href="reservation.html"><i id="show-text" class="fas fa-book"></i><span
                    class="show-icon">RESERVATION</span></a></li>


        <input type="checkbox" id="chk">

        <label for="chk" class="hide-button">

            <i class="fas fa-times"></i>

        </label>

    </ul>

</div>

<br>

