<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title> 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="css01/navbar.css">
    <link rel="stylesheet" href="css01/up_and_down.css">
    <link rel="stylesheet" href="css01/up_and_down.css">
    <link rel="stylesheet" href="css01/header.css">
    <link rel="stylesheet" href="css01/Reservation.css">
  <link rel="stylesheet" href="css/section.css">

    <script src="https://kit.fontawesome.com/fb65f5d132.js" crossorigin="anonymous"></script>
    
</head>
<body>
    <div class="container1">
        <div class="header1">
         
          <div class="head1">FOOD VILLA</div>
        </div>
    </div>
    <div class="navigation">
        <input type="checkbox" id="chk">
          <label for="chk" class="show-button" >
          <i class="fas fa-bars"></i>
          </label>
          <div class="logo1">
          <img src="images/food-villa-2.jpg" alt=""></div>
        <ul class="navbar1">
          <li><a href="index.html"><i id="show-text" title="HOME" class="fas fa-home"></i><span class="show-icon">HOME</span></a></li>
          <li><a href="menu.html"><i id="show-text" title="MENU" class="fas fa-concierge-bell"></i><span class="show-icon">MENU</span></a>
            <ul class="submenu">
                <li ><a href="menu.html#starter"><i title="STARTER" class="fas fa-pizza-slice"></i>STARTER</a></li>
                <li><a href="menu.html#drinks"><i title="DRINKS" class="fas fa-glass-martini"></i>DRINKS</a></li>
                <li><a href="menu.html#main-course"><i title="MAIN-COURSE" class="fas fa-utensils"></i>MAIN-COURSE</a></li>
                <li><a href="menu.html#desert"><i title="DESERT" class="fas fa-cookie-bite"></i>DESERT</a></li>
              </ul></li>
          <li><a href="gallery.html"><i id="show-text" title="GALLERY" class="fas fa-camera"></i><span class="show-icon">GALLERY</span></a></li>
          <li><a href="About.html"><i id="show-text" title="ABOUT" class="fas fa-info-circle"></i><span class="show-icon"></i>ABOUT</span></a></li>
          <li ><a href="#contact"><i id="show-text" title="CONTACT" class="fas fa-address-book"></i><span class="show-icon">CONTACT</span></a></li>
          <li ><a href="#"><i id="show-text" title="LOGIN" class="fas fa-user"></i></i><span class="show-icon">LOGIN</span></a></li>
          <li ><a href="reservation.html"><i id="show-text" class="fas fa-book"></i><span class="show-icon">RESERVATION</span></a></li>

          <input type="checkbox" id="chk">
          <label for="chk" class="hide-button">
            <i class="fas fa-times"></i>
          </label>
        </ul>
      </div>
      <br>

       <!-- ALL PAGE TITLE  -->
       <div class="all-page-title">
        <div class="row">
          <div class="col-lg-12">
            <h1>RESERVATION</h1>
          </div>
        </div>
      </div>
      <!-- Start Reservation -->
	<div class="reservation-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Reservation</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="contact-block">
						<form id="contactForm">
							<div class="row">
								<div class="col-md-6">
									<h3>Book a table</h3>
									<div class="col-md-12">
										<div class="form-group">
											<input id="input_date" class="datepicker picker__input form-control" name="date" type="date" value="" required  placeholder="Select date">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input id="input_time" class="time form-control picker__input" type="time" required placeholder="Select time">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<select class="custom-select d-block form-control" id="person" required >
											  <option disabled selected>Select Person*</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											  <option value="4">4</option>
											  <option value="5">5</option>
											  <option value="6">6</option>
											  <option value="7">7</option>
											</select>
											<div class="help-block with-errors"></div>
										</div> 
									</div>
								</div>
								<div class="col-md-6">
									<h3>Contact Details</h3>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" placeholder="Your Name" required data-error="Please enter your name">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" placeholder="Your Email" id="email" class="form-control" name="email" required data-error="Please enter your email">
											<div class="help-block with-errors"></div>
										</div> 
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" placeholder="Your Numbar" id="phone" class="form-control" name="phone" required data-error="Please enter your Numbar">
											<div class="help-block with-errors"></div>
										</div> 
									</div>
								</div>
								<div class="col-md-12">
									<div class="submit-button text-center">
										<button class="btn btn-common" id="submit" type="submit">Book Table</button>
										<div id="msgSubmit" class="h3 text-center hidden"></div> 
										<div class="clearfix"></div> 
									</div>
								</div>
							</div>            
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

      <!-- ------------------------------------------------------------------------------------------------------ -->
      <br>
      
      <footer id="contact">
        <div class="upper">
            <div class="row">
				<div class="col-md-4">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+01 123-456-4590
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							yourmail@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							800, Lorem Street, US
						</p>
					</div>
				</div>
			</div>
        </div>
        <div class="lower">
            <div class="row">
				<div class="col-lg-3 col-md-6">
					<h3>About Us</h3>
					<p>Integer cursus scelerisque ipsum id efficitur. Donec a dui fringilla, gravida lorem ac, semper magna. Aenean rhoncus ac lectus a interdum. Vivamus semper posuere dui, at ornare turpis ultrices sit amet. Nulla cursus lorem ut nisi porta, ac eleifend arcu ultrices.</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Opening hours</h3>
					<p><span class="text-color">Mon-Tue : </span>9:00 AM - 11:00 PM</p>
					<p><span class="text-color">Wed-Thu :</span> 9:00 AM - 11:00 PM</p>
					<p><span class="text-color">Fri-Sat :</span> 9:00 AM - 11:00 PM</p>
					<p><span class="text-color"> Sunday :</span> 11:00 AM - 11:00 PM</p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Contact information</h3>
					<p class="lead">Ipsum Street, Lorem Tower, MO, Columbia, 508000</p>
					<p class="lead"><a href="#">+91 000000000</a></p>
					<p><a href="#"> foodvilla@gmail.com</a></p>
				</div>
				<div class="col-lg-3 col-md-6">
					<h3>Subscribe</h3>
					<div class="subscribe_form">
						<form class="subscribe_form">
							<input name="EMAIL" id="subs-email" class="form_input" placeholder="Email Address..." type="email">
							<button type="submit" class="submit">SUBSCRIBE</button>
							<div class="clearfix"></div>
						</form>
					</div>
					<ul class="list-inline f-social">
						<li class="list-inline-item"><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-google-plus" aria-hidden="true"></i></a></li>
						<li class="list-inline-item"><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
					</ul>
				</div>
            </div>
            
            <div class="copyright">
                <div class="row">
                    <div class="col-lg-12">
                        <p class="company-name">All Rights Reserved. &copy; 2020 <a href="#">Food Villa Restaurant</a> <br>
                             Design By : Kshitij Gupta and Rachit Rai
                        <br>
                        <a href="https://github.com/rachitrai99/Online-Restaurant">Github</a>
                        </p>
                    </div>
                </div>
                
            </div>
        </div>
    </footer>
</body>
</html>