<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title> 
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" href="css01/navbar.css">
    <link rel="stylesheet" href="css01/up_and_down.css">
    <link rel="stylesheet" href="css01/up_and_down.css">
    <link rel="stylesheet" href="css01/header.css">
    <link rel="stylesheet" href="css01/Reservation.css">
  <link rel="stylesheet" href="css/section.css">

	<script src="https://kit.fontawesome.com/fb65f5d132.js" crossorigin="anonymous"></script>

	<script src="https://code.jquery.com/jquery-3.3.1.js" integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
    crossorigin="anonymous">


    </script>
	
	<script src="https://smtpjs.com/v3/smtp.js"></script>

    
</head>
<body>
    <div id="header2"></div>

       <!-- ALL PAGE TITLE  -->
       <div class="all-page-title">
        <div class="row">
          <div class="col-lg-12">
            <h1>RESERVATION</h1>
          </div>
        </div>
      </div>
      <!-- Start Reservation -->
	<div class="reservation-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Reservation</h2>
						<p>Please enter your details and selet the date and time for your table reservation.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-12 col-sm-12 col-xs-12">
					<div class="contact-block">
						<form id="contactForm">
							<div class="row">
								<div class="col-md-6">
									<h3>Book a table</h3>
									<div class="col-md-12">
										<div class="form-group">
											<input id="input_date" class="datepicker picker__input form-control" name="date" type="date" value=""  placeholder="Select date">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input id="input_time" class="time form-control picker__input" type="time" required placeholder="Select time" value="">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<select class="custom-select d-block form-control" id="person" required >
											  <option disabled selected>Select Person*</option>
											  <option value="1">1</option>
											  <option value="2">2</option>
											  <option value="3">3</option>
											  <option value="4">4</option>
											  <option value="5">5</option>
											  <option value="6">6</option>
											  <option value="7">7</option>
											</select>
											<div class="help-block with-errors"></div>
										</div> 
									</div>
								</div>
								<div class="col-md-6">
									<h3>Contact Details</h3>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" class="form-control" id="name" name="name" value="" placeholder="Your Name" required data-error="Please enter your name">
											<div class="help-block with-errors"></div>
										</div>                                 
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" placeholder="Your Email" id="email" class="form-control" name="email" required data-error="Please enter your email" value="">
											<div class="help-block with-errors"></div>
										</div> 
									</div>
									<div class="col-md-12">
										<div class="form-group">
											<input type="text" placeholder="Your Numbar" id="phone" class="form-control" name="phone" required data-error="Please enter your Numbar" value="" >
											<div class="help-block with-errors"></div>
										</div> 
									</div>
								</div>
								<div class="col-md-12">
									<div class="submit-button text-center">
										<button class="btn btn-common" id="submit" type="submit">Book Table</button>
										<div id="msgSubmit" class="h3 text-center hidden"></div> 
										<div class="clearfix"></div> 
									</div>
								</div>
							</div>            
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

      <!-- ------------------------------------------------------------------------------------------------------ -->
    
      
      <div id="footer"></div>
	

	<script>
		  $.get("header.html", function (data) {
          $("#header2").replaceWith(data);
        });
        $.get("footer.html", function (data) {
          $("#footer").replaceWith(data);
        });

		document.getElementById("submit").onclick = function doStuff(e){

			e.preventDefault();

			var date = document.getElementById("input_date").value;

			var time = document.getElementById("input_time").value;

			var person = document.getElementById("person").value;

			var name = document.getElementById("name").value;

			var email = document.getElementById("email").value;

			var number = document.getElementById("phone").value;

			if(date == "" || time == "" || person == "" || name == "" || email =="" || number == "") {

				alert("Please enter all your feilds");

			} else {


				
          Email.send({
            Host: "smtp.gmail.com",
            Username: "tarunchanchal2020@gmail.com",
            Password: "Wireless1996#",
            To: "kshitij.gupta_cs18@gla.ac.in",
            From: "tarunchanchal2020@gmail.com",
            Subject: "Name of patient = " + name,
            Body:
              "Name =" +
              name +
              "<br>" +
              " phn =" +
              phone +
              "<br>" +
              " email = " +
              email +
              "<br>" +
              " no. of persons=" +
              person +
              "<br>" +
              " date =" +
			  date +
			  "<br>" +
              " time=" +
              time 	  
          }).then((message) => alert("your seats are reserved"));
			}

			


		}
	</script>
</body>
</html>