h1.subMenuName {
    font-size: 40px;
    color: black;
  
    top: 70px;
    background-color: #ece6e6;
  
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    padding: 10px;
    margin-bottom: 0px;
  }
  hr {
    width: 100%;
    position: sticky;
    top: 135px;
    border-width: 3px;
    border-color: black;
    margin: 0px;
    padding: 0px;
  }
  .subMenu {
    width: 800px;
    padding: 10px;
  
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .dish {
    display: flex;
    flex-direction: row;
    border-radius: 10px;
    border: 5px double black;
    padding: 5px 15px;
    margin: 10px;
  }
  .dishImage {
    display: inline-block;
    width: 110px;
    height: 110px;
    border: 2px solid black;
    border-radius: 10px;
    margin-top: 10px;
    background-size: cover;
  }
  
  .vegNonveg {
    display: none;
  }
  .dishDescription {
      padding-left: 20px;
    display: inline;
    width: 400px;
  }
  
  .counter {
    display: inline;
  }
  .vegNonveg {
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 5px;
  }
  img {
    position: relative;
    top: 0px;
    width: 20px;
    height: 20px;
  }
  .addToCartDiv {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .counter {
    display: flex;
    flex-direction: row;
  }
  .counterValue {
    font-size: 30px;
    color: black;
    font-weight: bold;
  }
  button {
    width: 30px;
    height: 30px;
    font-size: 20px;
    background-color: black;
    color: white;
    outline: none;
    margin: 0px 36px;
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .addToCart {
    width: 150px;
  }
  .amount {
    padding: 20px;
    font-size: 25px;
    font-weight: bold;
    width: 140px;
    text-align: center;
  }
  #checkOut {
    width: 350px;
    height: 60px;
    font-size: 40px;
    display: none;
    margin: 0px auto;
  }
  #totalAmount {
    width:500px;
    text-align: center;
    height: 60px;
    font-size: 30px;
    display: flex;
    margin: 0px auto;
    text-align: center;
  }
  
  .checkBox {
    width:800px;
    background-color:  #d0a772;
    padding: 10px;
    border-radius: 10px;
    margin: 0px auto;
  }
  
  #tableBox {
    margin: 0 auto;
    border-collapse: collapse;
    width: 100%;
  }
  
  
  #emptyCart {
  
    margin: 0px auto;
    text-align: center;
    padding-top: 20px;
  }
  
  #placeOrderForm {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0px auto;
  }
  
  label {
    font-size: 25px;
  }
  
  .input1{
      height: 30px;
      width: 100%;
      padding: 5px;
      font-size: 20px;
      border-radius: 4px;
      outline: none;
      border: 2px lightgrey solid;
  }
  
  textarea {
    width: 100%;
    height: 300px;
    font-size: 20px;
    padding: 5px;
    border-radius: 4px;
      outline: none;
      border: 2px lightgrey solid;
  }
  
  tr,td{
    text-align: center;
  }
  
  
  
  @media (max-width: 962px) {
  
    .subMenu {
      width: 100%;
      
      
    }
    .dish {
        width: 100%;
      flex-wrap: wrap;
      }
    
  
    
    .dishDescription {
      display: inline;
      width: 570px;
    }
    .checkBox{
      width: 730px;
    }
  
   
  }
  
  @media (max-width: 740px) {
  
      .subMenu {
        width: 100%;
        
        
      }
      .dish {
          width: 100%;
        flex-wrap: wrap;
        }
      
    
      
      .dishDescription {
        display: inline;
        width: 450px;
      }
  
      .checkBox{
        width: 95%;
       padding: 0px;
      }
    
     
    }
    @media (max-width: 620px) {
  
      .subMenu {
        width: 100%;
        
        
      }
      .dish {
          width: 100%;
        flex-wrap: wrap;
        }
      
    
      
      .dishDescription {
        display: inline;
        width: 300px;
      }
      #totalAmount {
        width: 100%;
        text-align: center;
        height: 60px;
        font-size: 30px;
        display: flex;
        margin: 0px auto;
        padding-left: 10px;
      }
      
      .checkBox {
        width: 95%;
        padding: 0px;
        border-radius: 10px;
        margin-bottom: 10px;
        margin-top: 0px;
      }
      .input1{
        height: 30px;
        width: 100%;
        padding: 5px;
        font-size: 20px;
    }
    
    textarea {
      width: 100%;
      height: 300px;
      font-size: 20px;
      padding: 5px;
    }
    
     
    }
    @media (max-width: 470px) {
      h1.subMenuName {
          font-size: 30px;
        }
        hr{
            top:125px;
        }
  
      .subMenu {
        width: 100%;
        
        
      }
      .dish {
          width: 100%;
        flex-wrap: wrap;
        justify-content: space-evenly;
        }
      
    
      
      .dishDescription {
        display: inline;
        width: 100%;
        padding-top: 10px;
  
      }
  
      .dishDescription h2{
          font-size: 27px;
      }
  
      .dishDescription p{
          margin-bottom: 0px;
      }
  
      button {
          width: 30px;
          height: 30px;
          font-size: 20px;
          background-color: black;
          color: white;
          outline: none;
          margin: 0px 36px;
          margin-top: 10px;
          margin-bottom: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
        .addToCart {
          width: 150px;
        }
        .amount {
          padding: 0px;
          font-size: 20px;
          font-weight: bold;
          width: 100%;
          text-align: center;
        }
        
    
     
    }