.about-section{
    padding: 10px 0px;
    margin: 0px 20px;
}
.about-section .img-fluid{
    box-shadow: -10px -10px 0px #d0a772;
    margin-top: 10px;
}
.inner-column h1{
	font-family: 'Arbutus Slab', serif;
	font-size: 30px;
	color: #010101;
}
.inner-column h1 span{
	color: #eba626;
}
.inner-column h4{
	font-size: 16px;
	font-weight: 500;
}
.inner-column p{
	font-size: 18px;
}
.inner-column .btn-outline-new-white{
    color: #d0a772;
    border-radius: 3px solid #a7712a;
    border: 2px solid #9b6723;
    margin: 10px ;
}
.inner-column .btn-outline-new-white:hover{
    color: #ffffff;
    background-color: #d0a772;
}


.box-for-ownerzz {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.apan-ne-kiya h1{
    text-align: center;
    text-decoration: underline dotted #9b6723;
    text-transform: uppercase;
}
.box-for-ownerzz h3{
    text-align: center;
}
.box-for-ownerzz p{
    padding: 5px 20px;
    text-align: justify;
}

.chef-box {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.boxes-for-chefs h1{
    text-align: center;
    text-decoration: underline dotted #9b6723;
    text-transform: uppercase;
}

.each-box{
    width: 300px;
    height: 400px;
    /* border: 2px solid; */
    border: 2px dotted #d0a772;
    margin: 20px;
    /* overflow: hidden; */
}

.each-box-img{
    overflow: hidden;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    margin: 10px 50px;
    border: 1px solid;
}

.chef-box h3{
    text-align: center;
}
.chef-box p{
    padding: 5px 20px;
    text-align: justify;
}