.header1{
    padding: 5px;
    width: 100%;
    height: 150px;
    background-image: url(../images/food-2068217_1920\ \(1\).jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: 0 0; 
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;

  }
.logo1{
    padding: 0px;
    float: left;
}
.logo1 img{
        display: inline-block;
        height: 70px;
        width: 80px;
}.head1 { 
    display: inline;
    font-size:60px;
    color:chocolate;
    text-shadow: 7px 7px   black;
    font-weight:bold;
    padding: 0px 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    
}
@media(max-width:413px){
.head1{

 font-size: 60px;
 line-height: 60px;
}}
