*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top:70px ;
    
}
.container1{
    border: 0px solid;
    width: 100%;
    margin: 0px auto;
    position: relative;
}
