.menue-heading{
    text-align: center;
    /* padding: 20px; */
    text-transform: uppercase;
    color: #9b6723;
}

.menue-div .container {
    /* width: 100% auto; */
    /* height: 300px; */
    position: relative;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    /* align-items: center; */
    
}

.menue-div .container .card {
    position: relative;
    /* border: 2px solid; */
    border:none;
    background-color:rgb(236, 230, 230);
    overflow: hidden;
    margin-block-start: -9%;
}

.menue-div .container .card .image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: #f00;
    transition: 0.7s;
    z-index: 1;
}

.menue-div .container .card:nth-child(n) .image {
    background: #e0a868;
}

.menue-div .container .card img  {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.7s;
    width: 100%;
    height: 170px;
}


.menue-div .container .card .face {
    width: 300px;
    height: 200px;
    transition: 0.5s;
}

.menue-div .container .card .face.face1 {
    position: relative;
    /* background:rgb(236, 230, 230); */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    transform: translateY(120px);
}

/* .menue-div .container .card:hover .face.face1{
    background: #ff0057;
    transform: translateY(0px);
} */

.menue-div .container .card .face.face1 .content {
    opacity: 1;
    transition: 0.5s;
}

.menue-div .container .card:hover .face.face1 .content {
    opacity: 1;
}

.menue-div .container .card .face.face1 .content image{
    max-width: 100px;
}

.menue-div .container .card .face.face2 {
    position: relative;
    background: rgb(212, 191, 208);
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 0px;
    box-sizing: border-box;
    /* box-shadow: 0 20px 50px rgba(0,0,0,0.8); */
    transform: translateY(-100px);
}

.menue-div .container .card:hover .face.face2{
    transform: translateY(0);
}

.menue-div .container .card .face.face2 .content p {
    margin: 0;
    padding: 0;
    text-align: center;
    color: #414141;
}


