*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(236, 230, 230);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.upper ul{
    text-align: center;
    background-color: rgb(212, 170, 53);
    color: whitesmoke;
}
.upper li {
    display: inline-block;
    font-size: 25px;
    margin: 0 auto;
    text-decoration: none;
    padding: 20px 40px;
    justify-content: center;
}
.upper li i{
    background-color: whitesmoke;
    font-size: 30px;
    border-radius: 50%;
    padding: 17px;
    color: rgb(212, 170, 53);
    
}
.upper li a{
    text-decoration: none;
    color: whitesmoke;
}
.upper li span{
    display: inline-flex;
    flex-direction: column;
    border: 2px solid;
    
}